<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <!-- Enable features -->
    <featureManager>
        <feature>jakartaee-9.1</feature>
    </featureManager>

    <resourceAdapter id="wmqjmsra" location="${wlp.install.dir}../../../ibm/wmq.jakarta.jmsra.rar" />

    <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="ConMgr">
        <properties.wmqjmsra
            channel="XXXXXXXX"
            hostName="XXXXXXXX"
            port="XXXXXXXX"
            userName="XXXXXXXX"
            password="XXXXXXXX"
            queueManager="XXXXXXXX"
            transportType="CLIENT"
            sslCipherSuite="TLS_AES_128_GCM_SHA256"
        />
    </jmsConnectionFactory>

    <connectionManager id="ConMgr" maxPoolSize="10"/>

    <jmsQueue id="jms/queue1" jndiName="jms/queue1">
        <properties.wmqjmsra baseQueueName="DEV.QUEUE.1" />
    </jmsQueue>

    <jmsQueue id="jms/remote1" jndiName="jms/remote1">
        <properties.wmqjmsra baseQueueName="REMOTE.Q.1" />
    </jmsQueue>

    <basicRegistry id="basic" realm="BasicRealm">
    </basicRegistry>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- Automatically expand WAR files and EAR files -->
    <applicationManager autoExpand="true"/>

    <!-- Configures the application on a specified context root -->
    <webApplication contextRoot="/mqjms" location="mqjms.war" />

    <!-- Default SSL configuration enables trust for default certificates from the Java runtime -->
    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
